@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.design-input{
    height: 35px;
    width: 50%;
}
#loading-spinner{
display: none;
}
.phone-btn {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    border: 2px solid #ddd;
}